<%- include('partials/header') %>
<!--<script src="/public/js/slidingcart.js"></script> -->
<script src="/public/js/homeindex.js"></script>
<!--<link rel="stylesheet" href="/public/css/slidingcart.css"> -->
<link rel="stylesheet" href="/public/css/homeindex.css">
<link rel="stylesheet" href="/public/css/cart.css">


<div id="landing" style="padding-bottom: 30px; padding-top: 40px;">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <div class="slider slider-1">
    <img class="ratio" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" />
    <input class="slide" type="radio" name="slider-1" id="s-1-1" /><label for="s-1-1"></label>
    <div>
      <img src="https://developer.playphone.com/App/Landing/img/main-slide-2.png" />
      <div class="content">
        <h3>Welcome to The Uplift Project : <strong>Team2-NJ2</strong></h3><br>
        <p>An Online Study Platform - Made By You, Made For You!!! Let's take boredom out of learning and make it fun
        </p>
      </div>
    </div>

    <input class="slide" type="radio" name="slider-1" id="s-1-2" /><label for="s-1-2"></label>
    <div>
      <img src="https://developer.playphone.com/App/Landing/img/main-slide-5.png" />
      <div class="content">
        <h3>Have you got obstacles that are stopping you from following your academic dreams?</h3>
        <p>Worried about the cost of course fees or other expenses? Little ones to look after? Career just about to take
          off? Or is your preferred program just too far away? Well, whatever the problem, we might have found the
          answer -- online learning! Online learning is transforming the way we think about education forever. Here are
          five reasons to study online.</p>
      </div>
    </div>

    <input class="slide" type="radio" name="slider-1" id="s-1-3" checked /><label for="s-1-3"></label>
    <div>
      <img src="https://developer.playphone.com/App/Landing/img/main-slide-3.png" />
      <div class="content">
        <h3>Is Online Learning Gaining in Credibility?</h3>
        <p>The field of higher education has evolved and grown over the past 100, 50 and even 10 years. One particular
          development which has transformed higher education in recent decades is online learning. But are the degrees
          conferred by online institutions as credible and reputable as those conferred by conventional
          bricks-and-mortar institutions? While stereotypes may once have existed about online degrees, experts agree
          they are now a valuable and vital part of the higher education landscape. </p>
      </div>
    </div>
    <style type="text/css">
      #landing .slider-1 img.ratio {
        padding: 0 33%;
      }

      #landing .slider-1 .content {
        max-width: 33%;
        margin: 5% 0 0 18%;
      }

      #landing .slider-1 .content h3 {
        color: #fff;
        font-size: 2.125em;
        font-weight: normal;
        margin: 0 0 4%;
      }

      #landing .slider-1 .content p {
        color: #fff;
        font-size: 1.1em;
        font-weight: normal;
      }

      #landing .slider-1 .button {
        position: absolute;
        bottom: 17%;
        min-width: 12.5em;
        font-size: .95em;
        font-weight: normal;
        border-width: .14em;
      }
    </style>
  </div>
  <div class="feature">
    <img class="picture" src="https://developer.playphone.com/App/Landing/img/feature-1.png" />
    <h4 class="caption">The online classroom is good preparation for a changing workforce</h4>
    <p class="summary">As technology advances, workforces are become increasingly distributed. Whether you’re working
      with someone across the state or across the world, becoming adept at technology for video conferencing, messaging,
      aggregating information, and collaborating is a skill set that you're likely to find a need for. </p>
  </div>

  <div class="feature">
    <img class="picture" src="https://developer.playphone.com/App/Landing/img/feature-2.png" />
    <h4 class="caption">You're not bound by geography</h4>
    <p class="summary">Huge strides in technology have made a college education more accessible than ever. With a
      computer and Internet access, the entirety of the educational world can be yours as long as you have Internet
      access, no matter where you live.</p>
  </div>

  <div class="feature">
    <img class="picture" src="https://developer.playphone.com/App/Landing/img/feature-3.png" />
    <h4 class="caption">Online learning is getting a good reputation</h4>
    <p class="summary">Academics have seen the value in online education for quite some time. A 2012 study from
      Babson/College Board showed that 77% of academic leaders believed that online education offerings were just as
      good, if not better, than classroom-based educational offerings.</p>
  </div>




  <!--  <div class="slider slider-2">
      <img class="ratio" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" />

      <input class="slide" type="radio" name="slider-2" id="s-2-1" /><label for="s-2-1"></label>
      <div>
        <img src="https://developer.playphone.com/App/Landing/img/main-slide-4.png" />
        <div class="content">
          <h3>What they say</h3>
          <p>
            Integration the Playphone SDK
            was extremely developer friendly.
            It's lean and easy to integrate and
            test. We got it out there in less
            than a day.
          </p>
          <small>
            Alok Kumar<br />
            Director of game development<br />
            June Software Inc
          </small>
        </div>
      </div>

      <input class="slide" type="radio" name="slider-2" id="s-2-2" checked /><label for="s-2-2"></label>
      <div>
        <img src="https://developer.playphone.com/App/Landing/img/main-slide-5.png" />
        <div class="content">
          <h3>What they say</h3>
          <p>
            Playphone integration has been easy with its
            simple SDK and we've been able to leverage its
            real-time dashboard to show results immediately.
            Playphone's support team is very efficient and is
            always available with answers and advice.
            Because of our Leaderboard integration we are
            seeing strong revenue conversion %'s.
          </p>
          <small>
            Kevin Roberts<br />
            CEO<br />
            Mobile Mob
          </small>
        </div>
      </div>
      <style type="text/css">
        #landing .slider-2 img.ratio {
          padding: 0 30.4%;
        }

        #landing .slider-2 {
          margin-top: 6em;
        }

        #landing .slider-2 .content h3 {
          font-size: 1.125em;
          margin: 0 0 3em;
          color: #99ce45;
          text-transform: uppercase;
          font-weight: normal;
        }

        #landing .slider-2 .content p {
          font-size: 1.3em;
          color: #fff;
        }

        #landing .slider-2 .content small {
          font-size: 1.125em;
          margin: 3em 0 0;
          display: block;
          color: #fff;
          text-transform: uppercase;
          font-weight: normal;
        }

        #landing .slider-2 #s-2-1+label+div>.content {
          max-width: 30%;
          margin: 8% 0 0 17%;
        }

        #landing .slider-2 #s-2-1+label+div>.content p {
          font-size: 1.6em
        }

        #landing .slider-2 #s-2-2+label+div>.content {
          max-width: 35%;
          margin: 8% 0 0 16%;
        }
      </style>
    </div> -->
</div>
<section id="blog" style="background-color: whitesmoke;">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h2 style="text-align: center; padding-top: 10px;">Resources for Online Learning</h2>
        <div class="heading-line"></div>
        <p style="text-align: center;">Choose articles according to your interests!!!</p>
      </div>
    </div>
    <div class="row">
      <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
        <div class="MultiCarousel-inner">
          <% posts.forEach(function(post) { %>
          <div class="item">
            <div class="pad15">
              <p class="lead">
              <div height="200p" width=200>

                <img src="/public/<%= post.name%>" alt="No file preview"
                  onerror="this.onerror=null;this.src='https://i.imgur.com/5r0TvgW.jpg' ;" width="100%" height="200">
              </div>
              <% if (post.title.length >= 29) { %>
              <h6><%= post.title.slice(0,28) %>...</h6>
              <% } else { %>
              <h6><%= post.title %></h6>
              <% } %>
              <a href="/fullpost/<%= post.id %>" class="stretched-link">Continue reading</a>
              <br>
            </div>
          </div>
          <% }); %>
        </div>
        <button class="btn btn-primary leftLst">
          < </button>
            <button class="btn btn-primary rightLst">></button>
      </div>
    </div>
  </div>
  <div style="text-align: center; padding-bottom: 30px; padding-top: 10px;">
    <a href="/posts/1"><button class="btn btn-primary leftLst">See All</button></a>
  </div>
  </div>
</section>
<script src="/public/js/cart.js"></script>

<%- include('partials/footer') %>